################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RVB.Auth20Providers/.vs/RVB.Auth20Providers
/RVB.Auth20Providers/.vs/RVB.Auth20Providers
/RVB.Auth20Providers/Auth20ProvidersWebApi/bin
/RVB.Auth20Providers/.vs/RVB.Auth20Providers/DesignTimeBuild/.dtbcache.v2
/RVB.Auth20Providers/Auth20ProvidersWebApi/obj
RVB.Auth20Providers/Auth20ProvidersWebApi/bin
RVB.Auth20Providers/Auth20ProvidersWebApi/obj
RVB.Auth20Providers/Auth20ProvidersWebApp/bin
RVB.Auth20Providers/Auth20ProvidersWebApp/obj
