################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RVB.Auth20Providers/.vs/RVB.Auth20Providers
